.created-crossword-section {
  padding: 20px;
}

.created-crossword-name {
  font-size: 40px;
	font-family: 'Oswald', sans-serif;
  color: #272727;
}

.questions_wrappers {
  width: 100%;
  margin-bottom: 2%;
  white-space: nowrap;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  background-color: #3a6ba5;
  color: #fff;
  padding: 10px;
  border-radius: 5px;

}

@media screen and (max-width: 480px) {
  .questions_wrappers {
    font-size: 20px;

  }
}

.box-wrong{
  color: red;
}

.clue{
  padding-top: 20px;
  visibility: hidden;
  background-color: white;
  font-size: 20px;
}
